.header {
    text-align: center;
}
.logo {
    height: 50px;
}
.header nav {
    background-color: rgba(202, 238, 202, 0.63);
    line-height: 40px;
}
.header nav  a {
    text-decoration: none;
    color: rgb(15, 2, 2);
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
  transition: 600ms;
  text-transform: uppercase;
}.header nav a:hover{
background-color: rgba(250, 206, 156, 0.767);
border-radius: 5px;

}
